In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [2]:
df = pd.read_csv('Costomer+OrderForm.csv')

In [4]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [5]:
df.shape

(300, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [7]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [9]:
df.isna().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [13]:
# Getting count of categorical data i.e., Error free and Defective from dataset
error_free_Phillippines, defective_Phillippines = df.Phillippines.value_counts()
error_free_Indonesia, defective_Indonesia = df.Indonesia.value_counts()
error_free_Malta, defective_Malta = df.Malta.value_counts()
error_free_India, defective_India = df.India.value_counts()

In [14]:
# Converting the count of data into 2D array
obs = np.array([[error_free_Phillippines, error_free_Indonesia, error_free_Malta, error_free_India],
               [defective_Phillippines, defective_Indonesia, defective_Malta, defective_India]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [15]:
#Applying chi2_contigency test

In [16]:
chi2, pvalue, dof, ex = chi2_contingency(obs)

In [17]:
α = 0.05
if pvalue <= α:
   print("Rejecting null hypothesis")
   print("Conclusion: Customer order forms defective %  varies by centre")
else:
    print("Fail to reject null hypothesis")
    print("Conclusion: Customer order forms defective %  does not varies by centre")

Fail to reject null hypothesis
Conclusion: Customer order forms defective %  does not varies by centre